@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&family=Titillium+Web:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titilium Web', sans-serif;
}

:root{
    --mainColor: rgb(29,29,91);
    --mainColorLight: rgb(63, 63, 172);
    --secondaryColor:#DB2B39;
    --textColor: #eee;
}

@media (min-width: 768px) and (max-width: 1400px) {
    
}
.center-code-nav {
    display: flex;
    align-items: center;
    font-size: 25px;
}

.nav-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
    position: sticky;
    top: 0;
}

nav a{
    margin: 0 2rem;
    color: var(--textColor);
    text-decoration: none;
}

nav a:hover{
    color: var(--secondaryColor);
}

.btn-trial {
    display: flex;
    justify-content: right;
    
}

.starts-btn-trial {
    background-color:rgb(33, 72, 211);
    padding: 10px 20px;
    border-radius: 10px;
}

.nav-head .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

@media (min-width: 315px)  and (max-width: 768px) {
    .nav-head .nav-btn {
        visibility: visible;
        opacity: 1;
        height: 70px;
        padding: 0px;
    }

    .nav-head nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);
    }

    .nav-head .responsive_nav {
        transform: none;
    }

    nav .nav-close-btn {
        position: absolute;
        top: 1.5rem;
        right: 2.5rem;
        display: flex;
        align-items: center;
    }

    nav a{
        font-size: 1.5rem;
    }

    .btn-trial {
        display: flex;
        justify-content: right;
        height: 10px;
        width: 1px;
        visibility: hidden;
    }
    
    .starts-btn-trial {
        background-color: #DB2B39;
        padding: 10px 20px;
        border-radius: 10px;
    }

    .center-code-nav {
        display: flex;
        align-items: center;
        font-size: 25px;
    }
}

